<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DailyReportSystem</title>
<link rel="stylesheet" th:href="@{/css/employee/list.css}">
</head>
<body>
<header class="page-header">
	<h2>日報管理システム</h2>
	<nav>
	<ul class="main-nav">
	<li><a href="list.html">従業員管理</a></li>
	<li><a href="list.html">日報管理</a></li>
	<li><a href="list.html">ログアウト</a></li>
	</ul>
	</nav>
	 
	</header>
	
	<h1>従業員一覧</h1>
<table>
		<tr>
			<th>社員番号</th>
			<th>氏名</th>
			<th>操作</th>
		</tr>
    	<tr th:each="employee : ${employeelist}">
            <td th:text="${employee.authentication.code}"></td>
            <td th:text="${employee.name}"></td>
            <td><a th:href="@{/employee/shousai/{id}}">詳細を見る</a></td>
            </tr>
		</table>
	
	<a th:href="@{/employee/shinki}">新規従業員の登録</a>
</body>
</html>