<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DailyReportSystem</title>
<link rel="stylesheet" th:href="@{/css/employee/update.css}">
</head>
<body>
<header class="page-header">
    <h2>日報管理システム</h2>
    <nav>
    <ul class="main-nav">
    <li><a href="/employee/list">従業員管理</a></li>
    <li><a href="/report/list">日報管理</a></li>
    <li><a href="/login">ログアウト</a></li>
    </ul>
    </nav>
     
    </header>
    
    <h1>従業員情報 編集ページ</h1>
    <h3>(パスワードは変更する場合のみ入力してください)</h3>
    <form method="post" th:action="@{/employee/update/{id}/(id=${employee.id})}">
        <input type="hidden" th:field="*{employee.authentication.code}">
        <br>
        <label for="name">氏名</label>
        <input type="text" th:field="*{employee.name}" th:errorclass="err">
        <span th:errors="*{employee.name}" class="err"></span>
        <br>
        <label for="password">パスワード</label>
        <input type="text" th:field="*{employee.authentication.password}">
        
        <br>
        <label for="role">権限</label>
        <select th:field="*{employee.authentication.role}" th:errorclass="err">
        <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" 
                th:value="${item}" th:text="${item}" th:selected="*{employee.authentication.role} == ${item}">
         </select>
         <span th:errors="*{employee.authentication.role}" class="err"></span>
        <br>
        <br>
        <input type="submit" value="投稿">
        <p><a th:href="@{/employee/{id}/delete(id=*{id})}">この従業員情報を削除する</a></p>
        <p><a th:href="@{/employee/list}">一覧に戻る</a></p>
    

</body>
</html>